.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: center;
}

.footer-title {
  color: $white;
  font-size: $text-big;
  padding: 18px;
  text-transform: uppercase;
}

.footer-copyright {
  align-self: flex-end;
  color: $white;
  font-size: $text-small;
  padding: $text-medium $text-big;
}

@media only screen and (max-width: 1024px) {
  .footer-copyright {
    align-self: center;
  }
}
