.navbar {
  align-items: center;
  background-color: $white;
  box-shadow: 6px 6px 5px rgba($black, 0.4);
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 12px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-image {
  height: $nav-logo-height;
}

.navbar-title {
  font-size: $text-big;
}

@media only screen and (max-width: 1024px) {
  .navbar-title {
    display: none;
  }
}
