@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables/variables';
@import 'variables/colors';

* {
  font-family: $font-family;
}

.main {
  margin: 160px;
  width: 80%;
}
