.all-card {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 40px;
  width: 96%;
}

.card {
  border: solid 1px $green;
  border-radius: 5px;
  height: 300px;
  margin: 10px;
  width: 200px;
}

.tech {
  background: $green;
  border-radius: 5px;
  height: 300px;
  margin: 9px;
  width: 200px;
  h3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  p {
    padding: 10px 16px;
    text-align: center;
  }
}

.bold-font {
  font-weight: bold;
}

.common-logo {
  align-items: center;
  display: flex;
  height: $tech-logo-size;
  margin: auto;
  padding: 11px;
}

.express-logo,
.django-logo {
  align-items: center;
  display: flex;
  height: 50px;
  margin: auto;
  padding: 11px;
}
