.title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  height: $title-decoration-height;
  padding-left: 52px;
  position: relative;

  &::before {
    background-image: url('assets/images/triangle.svg') no-repeat;
    content: '';
    left: 0;
    position: absolute;
    width: $title-decoration-width;
    z-index: -1;
  }
}
