.main {
  margin-left: 150px;
  margin-top: 110px;
}

.title {
  font-size: 24px;
  position: relative;

  &::before {
    background-image: url('assets/images/triangle.svg');
    background-repeat: no-repeat, repeat;
    content: '';
    height: $title-decoration-height;
    left: -51px;
    position: absolute;
    top: -33px;
    width: $title-decoration-width;
    z-index: -1;
  }
}
